classes/
codegouvfr-data
.cpcache
.nrepl-port
.eastwood
.lsp/
data/
target/
.clj-kondo/
*txt
todo.org
*json
*csv
*svg
organizations/
repositories/
dependencies/
.dir-locals.el
.db/
.envrc
*xml
*pdf
*tsv
