;; Copyright (c) 2020 DINUM, Bastien Guerry <bastien.guerry@data.gouv.fr>
;; SPDX-License-Identifier: EPL-2.0
;; License-Filename: LICENSE

{:version     "0.3.2"
 :description "Generate data for https://code.etalab.gouv.fr"
 :url         "https://github.com/etalab/codegouvfr-data"
 :license     {:name "Eclipse Public License - v 2.0"
               :url  "http://www.eclipse.org/legal/epl-v20.html"}

 :deps {org.clojure/clojure                 {:mvn/version "1.10.3"}
        borkdude/babashka                   {:mvn/version "0.2.6"}
        metosin/jsonista                    {:mvn/version "0.3.4"}
        org.clojure/data.csv                {:mvn/version "1.0.0"}
        hickory/hickory                     {:mvn/version "0.7.1"}
        clojure.java-time/clojure.java-time {:mvn/version "0.3.3"}
        net.mikera/core.matrix              {:mvn/version "0.62.0"}
        clj-rss/clj-rss                     {:mvn/version "0.2.7"}}

 :aliases {:uberdeps
           {:replace-deps  {uberdeps/uberdeps {:mvn/version "1.0.4"}}
            :replace-paths []
            :main-opts     ["-m" "uberdeps.uberjar"]}}}
